.page {
    max-width: 1280px;
    /* height: auto; */
    background-color: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    margin: 0 auto;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media (max-width : 1024px) {
    .page {
        max-width: 1024px;
    }
}
@media (max-width : 768px) {
    .page {
        max-width: 768px;
    }
}
