/* @font-face {
    src: url(../russian-travel/static/Inter-Regular.ttf) format('truetype');
    font-family: 'Inter';
    font-weight: normal;
}

@font-face {
    src: url(../russian-travel/static/Inter-Black.ttf) format('truetype');
    font-family: 'Inter';
    font-weight: 900;
} */

/* .page {

    max-width: 1280px;
    background-color: #2A2C2F;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    margin: 0 auto;


} */

/* .header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    height: 52px;
    margin: 28px auto 0;
    box-sizing: border-box;

} */

/* .logo_place_header {
    width: 176px;
    height: 52px;
} */

/* .header__lang-links {
    display: flex;
    align-items: flex-end;
} */

/* .header__lang-link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    width: 30px;
    height: 28px;
    margin-right: 10px;

} */

/* .header__lang-link:nth-of-type(2) {
    margin-right: 0px;
    text-decoration: none;
} */

/* .lead {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
} */

/* .lead__title {
    font-size: 96px;
    line-height: 100px;
    font-weight: 900;
    max-width: 720px;
    min-height: 200px;
    text-align: center;
    margin: 56px auto 0;
    color: #FFFFFF;
    font-family: 'Inter';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /font-weight: bold; 
}  */

/* .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 640px;
    max-height: 72px;
    color: #FFFFFF;
    margin: 32px auto 0;
    text-align: center;
    font-family: 'Inter';
} */

/* .lead__image {
    width: 984px;
    height: 615px;
    margin: 64px auto 0;
} */
/* 
.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400px;
    color: #FFFFFF;
    min-width: 158px;
    min-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 8px 0 0 148px;
    font-family: 'Inter';
} */

/* .intro {
    display: flex;
    flex-direction: column;
    margin: 92px auto 0 148px;

} */

/* .intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 690px;
    max-height: 58px;
    font-family: 'Inter';
    margin-top: 0;
    margin-bottom: 0;
    
} */

/* .intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #FFFFFF;
    max-width: 690px;
    max-height: 208px;
    font-family: 'Inter';
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0;
    
} */

/* .intro__list {
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    max-width: 690px;
    max-height: 90px;
    margin-top: 33px;
    margin-bottom: 0
    ;

} */

/* .intro__list_bold {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter';
    padding: 0;

} */

/* .intro__list_amount {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
    font-family: 'Inter';
    padding: 0;
} */

/* .gallery {
    margin: 92px auto 0;
    padding: 0;
    max-width: 1184px;
    max-height: 671;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 16px 16px;
} */

/* .gallery__photo {
    width: 284px;
    height: 213px;
} */

/* .places {
    max-width: 984px;
    max-height: 3392px;
    margin: 92px auto 0;
} */

/* .place {
    max-width: 984px;
    max-height: 584px;
    display: grid;
    grid-template-columns: 460px auto;
    grid-template-rows: 76px 1fr 1fr;
    margin-top: 80px;
    grid-gap: 48px 40px;
   

}

.place:nth-of-type(1) {
    max-height: 660px;
    grid-template-rows: 152px 1fr 1fr;
}

.place:nth-of-type(4) {
    max-height: 660px;
    grid-template-rows: 152px 1fr 1fr;
} */

/* .place__title {
    max-width: 460px;
    max-height: 152px;
    color: #FFFFFF;
    grid-column: 1;
    grid-row: 1;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
   
    font-family: 'Inter';
} */

/* .place__image {
    width: 460px;
    height: 460px;
    grid-column: 1;
    grid-row: 2/3;
} */

/* .place__website {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    justify-self: start;
} */

/* .place__url-heading {
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'Inter';

} */

/* .place__link {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter';
} */

/* .place__paragraph {
    color: #FFFFFF;
    grid-column: 2;
    grid-row: 2/3;
    max-width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
} */

/* .place__paragraph_note {
    margin-top: 0;
    margin-bottom: 26px;
    font-family: 'Inter';

} */

/* .cover {
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
} */

/* .cover__overlay::before {
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;

} */

/* .cover:hover {
    opacity: 0.8;
} */

/* .cover__overlay {
    display: flex;
    width: 100%;
    background: url(./sprint-3-images/sprint-3-images/cover-trains.jpg);
    flex-direction: column;
    background-size: cover;
    z-index: 2;
    position: relative;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
    font-family: 'Inter';
} */

/* .cover__overlay:hover {
    opacity: 0.8;
} */

/* .cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 5;
    white-space: pre-wrap;
    font-family: 'Inter';
} */

/* .cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    min-height: 66px;
    color: #fff;
    text-align: center;
    z-index: 5;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    white-space: pre-wrap;
    font-family: 'Inter';
} */

/* .footer {
    margin: 92px auto 24px;
    box-sizing: border-box;
    padding: 0;
    color: #fff;
    display: flex;
    max-width: 1184px;
    min-height: 18px;
    position: relative;

} */
/* 
.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0;
} */

/* .footer__link {
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
    padding: 0px;
    font-family: 'Inter';

} */

/* .footer__copyright {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    right: 0;
    bottom: 0;
    position: absolute;
    font-family: 'Inter';
} */