.intro__list {
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    max-width: 690px;
    max-height: 90px;
    margin-top: 33px;
    margin-bottom: 0
    ;

}

@media (max-width : 1024px) {
    
}