.intro__list_bold {
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Inter';
    padding: 0;

}