.lead {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .lead {
        max-width: 320px;
        max-height: 406px;
        box-sizing: border-box;
        margin-top: 48px;
        margin-bottom: 64px;
    }
}