.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    min-height: 66px;
    color: #fff;
    text-align: center;
    z-index: 3;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    font-family: 'Inter';
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__subtitle {
        max-width: 288px;
        max-height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }

}