
.footer__links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        
    }
    
}