.place__paragraph {
    color: #FFFFFF;
    grid-column: 2;
    grid-row: 2/3;
    max-width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    margin-top: 0;
    padding-top: 0;
    text-align: left;
}