.gallery__photo {
    max-width: 284px;
    max-height: 213px;
}

@media (max-width: 1024px) {
    .gallery__photo {
        max-width: 300px;
        max-height: 225px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .gallery__photo {
        max-width: 352px;
        max-height: 264px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .gallery__photo {
        max-width: 288px;
        max-height: 216px;
    }
}