.gallery__photo {
    width: 284px;
    height: 213px;
}

@media (max-width : 1024px) {
    .gallery__photo {
        width: 300px;
        height: 225px;
    }
}

@media (max-width : 768px) {
    .gallery__photo {
        width: 352px;
        height: 264px;
    }
}