.lead__image {
    width: 984px;
    height: 615px;
    margin: 64px auto 0;
}

@media (max-width : 1024px) {
    .lead__image {
        width: 928px;
        height: 580px;
        margin-top: 56px;
    }
}

@media (max-width : 768px) {
    .lead__image {
        width: 768px;
        height: 480px;
    }
}