.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #FFFFFF;
    max-width: 690px;
    max-height: 208px;
    font-family: 'Inter';
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0;
    
}