.cover {
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 740px;
    display: flex;
}


@media (max-width : 1024px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width : 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media (max-width : 320px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
    }
}