.place__link {
    color: #FFFFFF;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Inter';
    align-self: start;
}

@media (max-width : 1024px) {
    
}
@media (max-width : 768px) {
   
}