.place__note {
    margin-top: 0;
    margin-bottom: 26px;
    font-family: 'Inter';
}

@media (min-width: 768px) and (max-width: 1023px) {

    .place__note {
       margin-bottom: 25px;
       
   } 
}