.lead__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400px;
    color: #FFFFFF;
    min-width: 158px;
    min-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    font-family: 'Inter';
}

/* @media (min-width: 1024px) and (max-width: 1279px)  {

    .lead__caption {
        margin: 8px auto 0 48px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .lead__caption {
        margin: 8px auto 0 24px;

    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .lead__caption {
        margin: 8px auto 0 16px;
    }
} */