.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
    max-width: 560px;
    max-height: 152px;
    text-align: center;
    margin-top: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    z-index: 3;
    font-family: 'Inter';

}

@media (max-width : 1024px) {
    .cover__title {
        margin-top: 195px;
    }
}

@media (max-width : 768px) {
    .cover__title {
        margin-top: 115px;
    }

}

@media (max-width : 320px) {
    .cover__title {
        max-width: 288px;
        max-height: 70px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 33px;
        white-space: pre;
    }
}