.place__url-heading {
    color: #AAAAAA;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    font-family: 'Inter';

}

@media (max-width: 768px) {
    .place__url-heading {
        margin-top: 0;
        padding-top: 0;
    }
}