.intro__title {
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 690px;
    max-height: 58px;
    font-family: 'Inter';
    margin-top: 0;
    margin-bottom: 0;
    
}

@media (min-width: 320px) and (max-width: 767px) {
    .intro__title {
        max-width: 288px;
        max-height: 70px;
        font-size:  32px;
        line-height: 35px;
    }
    
}